<div style="padding-bottom: 9px; border-bottom: 1px solid #eee; margin-bottom: 9px;">
    <div class="input-group" style="padding-bottom: 9px;">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </span>
        <input ng-model="$ctrl.busqueda" type="text" class="form-control" placeholder="Buscar...">
    </div>
    <div class="radio-inline">
      <label>
        <input type="radio" ng-model="$ctrl.orden" name="optionsRadios" id="opcionNombre" value="EstacionNombre" checked>
        Ordenar por nombre
      </label>
    </div>
    <div class="radio-inline">
      <label>
        <input type="radio" ng-model="$ctrl.orden" id="opcionDireccion" value="Lugar">
        Ordenar por dirección
      </label>
    </div>
</div>
<ul class="list-group">
    <li ng-repeat="estacion in $ctrl.estaciones | porProximidad | porEstacion: $ctrl.busqueda | orderBy : $ctrl.orden" class="list-group-item">
        <h4 class="list-group-item-heading">
            {{estacion.EstacionNombre}}
            <small>ID: {{estacion.EstacionId}}</small>
        </h4>
        <p>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            {{estacion.Lugar}}
        </p>
        <p><small>Distancia al centro: {{estacion.distancia}} metros</small></p>
        <a type="button" class="btn btn-primary" href="#!/estaciones/{{estacion.EstacionId}}">Ver Detalle</a>
    </li>
</ul>
